@import "../../scss/typography";
@import "../../scss/variables";

.digital-timer-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f8f8f8;
  color: #333;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: $black;

  &.time {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  background-color: #e44d26;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hoover {
    background-color: #d43c20;
  }

  &:active {
    background-color: #c32b1a;
  }
}
