@import "../../scss/typography";
@import "../../scss/variables";

.digital-timer-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  background-color: #f8f8f8;
  color: #333;

  h1 {
    margin-top: 20px;
    margin-bottom: auto;
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
    margin-bottom: auto;
    color: $black;

    &.time {
      font-size: 4rem;
      font-weight: bold;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 132px;
    height: 41px;
    border-radius: 5px;
    border: 1.5px solid $black;
    padding: 10px;
    background-color: $white;
    color: $black;
    font-weight: 700;
    font-size: 16px;
    line-height: 31.06px;
    letter-spacing: 10%;
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
