@import "../../scss/typography";
@import "../../scss/variables";

span {
  letter-spacing: 10%;
  font-weight: 400;
  font-size: 20px;
  line-height: 25.88px;
}

.set-timer-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.timeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.timeConatiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}

.numbers {
  color: $black;
  font-size: 76px;
  font-weight: 400;
  line-height: 20.7px;
  letter-spacing: 10%;
  margin-top: 20px;
}

.minutes {
  color: grey;
  font-weight: lighter;
  margin-top: 25px;
}

.arrow {
  color: $black;
  width: 15px;
  height: 15px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 30px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.setTimerOptionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: auto;

  label {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    margin-bottom: 10px;

    .radio-button {
      display: none;

      + .custom-radio {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        background-color: black;
        display: inline-block;

        &:before {
          content: "X";
          color: white;
          display: block;
          text-align: center;
          line-height: 20px;
          visibility: hidden;
        }
      }

      &:checked + .custom-radio:before {
        visibility: visible;
      }
    }
  }
}

.startTimerButton {
  width: 279px;
  height: 51px;
  border-radius: 5px;
  border: 1.5px solid $black;
  padding: 10px;
  background-color: $white;
  color: $black;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.06px;
  letter-spacing: 10%;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 50px;
}
